body {
    text-align: center;
}

table {
    /* border-collapse: collapse; */
    width: 70%;
    margin: auto;
}

th,
td {
    text-align: center;
    padding: 8px;
    border: 1px solid black;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
    color: black;

    &:hover {
        cursor: pointer;
        color: blue;
    }
}
